{so_name, "hdfs_drv.so"}.
{port_sources, ["c_src/*.c"]}.
{port_envs, [
             %% Make sure to set -fPIC when compiling hdfs
             {"CFLAGS", "$CFLAGS -fPIC"},
             {"DRV_CFLAGS", "$DRV_CFLAGS  -I hadoop-0.20.2/src/c++/libhdfs "},
             {"DRV_CFLAGS", "$DRV_CFLAGS  -I/usr/lib/jvm/java-6-openjdk/include -I/usr/lib/jvm/java-6-openjdk/include/linux"},
             {"DRV_LDFLAGS", "$DRV_LDFLAGS -L/usr/lib/jvm/java-6-openjdk/jre/lib/i386/server -L/usr/lib/jvm/java-6-openjdk/jre/lib/i386  -Lhadoop-0.20.2/c++/Linux-i386-32/lib -lhdfs -ljvm"}
             ]}.

{deps_dirs,["deps"]}.
{deps,
 [
 ]}.


%% Uncomment to use the Java client bench driver
%% {escript_emu_args, "%%! -name bb@127.0.0.1 -setcookie YOUR_ERLANG_COOKIE\n"}.
